body {
  margin: 0;
  line-height: 1;
  background-color: #979797;
  font-family: Arial, Helvetica, sans-serif;
}

article > div {
  width: 150px;
  height: 150px;
  border: 1px solid;
}

article > div > p {
  margin: 0;
}
